CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=
REDIRECT_URI=http://localhost:3000/auth/callback
DATABASE_URL=./feedback.db
JWT_SECRET=your-secret-here
PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
SUPERUSER=filip.nyquist@bthstudent.se
